{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
 <h1>hello Home</h1>
 <ul>
  {% for recipe in recipes %}
   <li>
    <a href="{{ path('recette.show',{id:recipe.id,slug:recipe.slug}) }}">{{ recipe.title }}</a>
   </li>
  {% endfor %}
 </ul>
</div>
{% endblock %}
