
    {% extends 'admin/admin.html.twig' %}
    {% block title %}Éditer la recette{% endblock %}

    {% block body %}
        <div class="container mt-5">
            <h2>Éditer: {{ recipe.title }}</h2>

            {{ form(form) }}

        </div>
{% endblock body %}



