
    {% extends 'base.html.twig' %}
    {% block title %}Éditer la recette{% endblock %}

    {% block body %}
        <div class="container mt-5">
            <h2>Éditer Pâtes Bolognaise</h2>

            {{ form(form) }}

        </div>
{% endblock body %}



